:root {
  --white: #FFFEFE;
  --orange: #C18C5D;
  --violet: #7E678E;
  --silver: #BDB2A7;
  --rose: #C3797F;
  --sage: #C9CEA4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  color: white !important;
  font-family: 'Raleway', sans-serif !important;
  height: 100%;
  width: 100%;
}

h1 { font-family: "Lobster", "Brush Script MT", sans-serif !important; }
h2 { font-family: 'Raleway', "Garamond", "Trebuchet MS", serif !important; font-weight: 400; font-size: 1.5rem; }
p { font-family: 'Raleway', "Garamond", "Trebuchet MS", serif; font-weight: 200; }
.minimal { font-family: 'Raleway', serif; font-weight: 200; font-size: .8rem; }

#mainNav {
  backdrop-filter: blur(1px);
  padding: 1rem 1rem 1rem 1rem;
  transition: background 0.3s ease-in-out;
}

.navbar .navbar-brand { font-weight: 400;}

.nav-link .active {font-weight: 400 !important;}

.navbar-scrolled {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  transition: background 0.3s ease-in-out;
}
#names {
  font-size: 3rem;
}
#main {
  padding-top: 75px;
}

#names{ padding-bottom: 1rem; }
#covid-update-button {
  /*background: rgba(0,0,0,0.6);*/
  padding: 1rem 1rem;
  margin-top: 4rem;
  width: 25%;
  border-radius: 1rem;
  color: white !important;
}
#covid-update-button p { margin: 0 !important;}
#covid-email {color:white !important;}

#about, #registry { background-color: #C3797F; }
#event, #rsvp { background-color: #7E678E; }
#what, #todo { background-color: #C18C5D;}

.no-webp #photo1 {
  height: 100%;
  background-image: url("../img/min/IMG_3594.jpg");
}
.webp #photo1 { background-image: url("../img/IMG_3594.webp");}
.no-webp #photo2 {
  height: 600px;
  background-image: url("../img/min/UsbushlaughingHD.jpg");
}
.webp #photo2 { background-image: url("../img/UsbushlaughingHD.webp");}
.no-webp #photo3 {
  height: 600px;
  background-image: url("../img/min/IMG_3495.jpg");
}
.webp #photo3 { background-image: url("../img/IMG_3495.webp");}
.no-webp #photo4 {
  height: 600px;
  background-image: url("../img/min/UsArchwayHD.jpg");
}
.webp #photo4 { background-image: url("../img/UsArchwayHD.webp"); }
.no-webp #photo5 {
  height: 600px;
  background-image: url("../img/min/IMG_3515.jpg");
}
.webp #photo5 { background-image: url("../img/min/IMG_3515.jpg"); }
.no-webp #photo6 {
  height: 600px;
  background-image: url("../img/min/UsBushHD.jpg");
}
.webp #photo6 { background-image: url("../img/min/UsBushHD.jpg"); }

.photo {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

hr.divider {
  max-width: 3.25rem;
  border-width: 0.2rem;
  border-color: #C9CEA4;
}

.response {
  padding: 0.5rem;
  transition: ease-in-out 5s;
  background-color: #C18C5D;
  display: none;
  border-radius: 5px;
}

.response p { margin: 0; }

.form-check, .labels {
  padding: 0.25rem 0 0.5rem 0;
  margin: 0;
}
.form-check #final_check { padding: 0 !important; }
.form-check {
  padding-left: 2.25rem;
}

.page-section {
  padding: 4rem 0;
}

.table {
  padding: 1rem;
}

.todolist th, .todolist a {
  color: white !important;
  font-weight: 200;
}

.todo_name a:hover {
  text-decoration: none;
}

.todo_name a {
  text-decoration: none;
  cursor: auto;
}

.todolist .todo_name {
  width: 40%;
}

/* Livestream */
#livestream .modal-content {
  background: #C3797F;
}

#livestream .modal-header .close {
  color:white;
}

.button {
  border-radius: 5%;
  background: #C18C5D !important;
  backdrop-filter: blur(2px);
  border: none !important;
  color: white !important;
}

.button:hover { background: #B0B87A !important; }
.button:focus { box-shadow: 0 0 0 0.2rem #A1A960 !important; }

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
}

/* Triggered by phones */
@media (max-width: 992px) {
  #covid-update-button {
    width: 75%;
  }
  #mainNav ul {
    text-align: right !important;
  }
  .nav-link {
    padding-right: 0.5rem;
  }
  #mainNav {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0));
  }

  /* Apparently fixed background-attachments make iPhone lose its mind */
  .photo {
    background-attachment: unset !important;
  }
  .no-webp #photo1 {
    height: 100%;
    background-image: url("../img/mobile/min/IMG_3599.jpg");
  }
  .webp #photo1 { background-image: url("../img/mobile/IMG_3599.webp");}
  .no-webp #photo2 {
    height: 90%;
    background-image: url("../img/mobile/min/UsbushlaughingHD.jpg");
  }
  .webp #photo2 { background-image: url("../img/mobile/UsbushlaughingHD.webp");}
  .no-webp #photo3 {
    height: 90%;
    background-image: url("../img/mobile/min/IMG_3495.jpg");
  }
  .webp #photo3 { background-image: url("../img/mobile/IMG_3495.webp");}
  .no-webp #photo4 {
    height: 90%;
    background-image: url("../img/mobile/min/UsArchwayHD.jpg");
  }
  .webp #photo4 { background-image: url("../img/mobile/UsArchwayHD.webp");}
  .no-webp #photo5 {
    height: 90%;
    background-image: url("../img/mobile/min/IMG_3515.jpg");
  }
  .webp #photo5 { background-image: url("../img/mobile/IMG_3515.webp");}
  .no-webp #photo6 {
    height: 90%;
    background-image: url("../img/mobile/min/UsBushHD.jpg");
  }
  .webp #photo6 { background-image: url("../img/mobile/UsBushHD.webp");}

  .todolist .links { display: none; }
  .todolist{ text-align: center !important; }
  .todo_name a:hover { text-decoration: inherit; }
  .todo_name a { text-decoration: underline; cursor: inherit; }
}
/* iPad specific */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .photo {
    background-attachment: unset !important;
  }
}