:root {
  --white: #FFFEFE;
  --orange: #C18C5D;
  --violet: #7E678E;
  --silver: #BDB2A7;
  --rose: #C3797F;
  --sage: #C9CEA4;
}

body, html {
  /*background: url(../img/Ussmilingbench.jpg) no-repeat center center fixed;*/
  background-color: silver !important;
  /*background-color: #C9CEA4 !important;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
  color: white !important;
  backdrop-filter: blur(2px);
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

h1 {
  font-family: Lobster, cursive !important;
}

.registry-header {
  display: none !important;
}

/*.navbar {*/
/*  backdrop-filter: blur(2px);*/
/*}*/

.page-section {
  padding: 8rem 0;
}

.alt-bg {
  background-color: #C9CEA4;
}

hr {
  margin: 0 4rem 0 4rem !important;
  border: 0;
  border-top: 2px solid #C9CEA4 !important;
}

.simply-section {
  backdrop-filter: blur(2px);
}

.jumbotron {
  background: none !important;
}

.button {
  border-radius: 15%;
  background: #C9CEA4 !important;
  backdrop-filter: blur(2px);
  border: none !important;
  color: white !important;
}

.button:hover { background: #B0B87A !important; }
.button:focus { box-shadow: 0 0 0 0.2rem #A1A960 !important; }
.button:active { }